  body {
    background-color: #eee;
    padding: 0;
    margin: 0;
  }
  .imginfo {
    padding:5px 30px;
  }
  nav {
    background-color: #555;
    width: 100%;
    margin-left: -2px;
    display: inline-block;
  }
  nav-brand {
    float: left;
  }
  ul.nav-list {
    float: right;
    margin-right: 20px;
  }
  ul.nav-list li {
    float: left;
    margin-left: 20px;
  }
  ul.nav-list li a{
    text-decoration: none;
    color: #fafafa;
  }
  ul.nav-list li a.disabled {
     pointer-events:none;
     color:#ccc;
     cursor:default
  }
  box {
    display: block;
    margin: 25px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 2px 2px 1px #666;
    border: 1px solid #ddd;
  }
  p {
    text-indent: 2em;
  }
  box h3 {
    color: #888;
  }
  box h4 {
    color: #999;
    font-weight: normal;
  }
  .imginfo {
    border: 1px solid #ddd;
    display: inline-block;
    margin: 10px 900px 10px 50px;
    padding: 5px 15px 15px;
  }
  .imginfo p {
    margin: 5px auto;
  }
  .imginfo img {
    width: 140px;
    height: 180px;
  }
  table {
    width: 100%;
    border-collapse: collapse;
  }
  th, td {
    border: 1px solid #ccc;
    text-align: left;
    padding: 5px 10px;
  }
  thead {
    background-color: #222;
    color: #fafafa;
  }
  tfoot {
    background-color: #ccc;
    font-weight: bold;
  }
  .slide-header {
    border-left: 3px solid #bbb;
    padding: 10px;
  }
  form label {
    display: inline-block;
    width: 26%;
    text-align: right;
    margin: 10px;
  }
  .btn-submit {
    margin-top: 20px;
    width: 100%;
    font-size: 16px;
    padding: 7px;
    background-color: #3355d0;
    border: none;
    color: #fafafa;
    border-radius: 8px;
  }
  tips {
    color: #777;
  }
  textarea {
    width: 70%;
    font-size: 18px;
    font-weight: bold;
    vertical-align: top;
    position: relative;
    top: 10px;
  }
  footer {
    background-color: #111;
    color: #fafafa;
    text-align: center;
    font-size: 14px;
    line-height: 14px;
    padding: 25px;
  }
